/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Register Form */
form fieldset {
    width: 70%;
    margin: 40px auto;
    padding: 15px 20px;
}

input[type="submit"] {
    padding: 2px 6px;
}